<center>
<h1 class="city">Articles to generate</h1>
<a href="http://127.0.0.1:3000/articles"  target="_self" ><button>Todo_list</button></a>
<p><%= link_to 'Back to home', root_path %></p>
</center>
<style>
.city{background-color:purple;color:white;padding:15px}
a:link, a:visited{ background-color:skyblue;
                   color:white;
                   padding: 15px 25px;
                   text-align:center;
                   text-decoration:none;
                   display:inline-block;}
a:hover, a:active{background-color:pink;}
</style>