<center>
<h1 class="text">Login successfully</h1>
<a href="http://127.0.0.1:3000/articles/about"  target="_self" ><button>ARTICLES</button></a>
<a href="http://127.0.0.1:3000/articles/login"  target="_self" ><button>Logout</button></a>
<style>
.text{background-color:orange;color:black;padding:10px}
a:link, a:visited{ background-color:skyblue;
                   color:white;
                   padding: 30px 35px;
                   text-align:center;
                   text-decoration:none;
                   display:inline-block;}
a:hover, a:active{background-color:pink;}
</style>
</center>