<center>
<h1>Welcome to VIT</h1>
<p> New user</p>
<a href="http://127.0.0.1:3000/articles/signup"  target="_self" ><button>signup</button></a>
<p>If already have an account</p>
<a href="http://127.0.0.1:3000/articles/login"  target="_self"><button>login</button></a>
</center>
<style>
a:link, a:visited{ background-color:skyblue;
                   color:white;
                   padding: 15px 25px;
                   text-align:center;
                   text-decoration:none;
                   display:inline-block;}
a:hover, a:active{background-color:pink;}
</style>